<a class="usa-skipnav" href="#main-content">Skip to main content</a>
 <div class="padding-2 bg-accent-warm text-base-lightest font-mono-xs center">
  TEST Do not use real personal information (demo purposes only) TEST
</div>
<div class="padding-2 bg-primary-darker text-base-lightest font-mono-xs center">
  <img class="width-2" aria-hidden="true" src="vendor/identity-design-system/assets/img/us_flag_small.png" alt="U.S. flag">
  A DEMO website of the United States government
</div>
<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic" role="banner">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="extended-logo">
        <em class="usa-logo__text">
          <a href="/" title="Home" aria-label="Home">SAML Sinatra Example</a>
        </em>
      </div>
    </div>
    <nav class="usa-nav">
      <section aria-label="Logged in information">
        <div class="display-flex flex-row">
          <div class="flex-align-self-center margin-right-4">
            <%= session[:email] if session[:email] %>
          </div>
          <div class="flex-1">
            <% if session[:email] %>

              <form action="/logout" method="POST">
                <button type="submit" class="usa-button usa-button--outline">Log out</button>
              </form>

            <% else %>
              <form>
                <button type="submit"  class="usa-button usa-button--outline" form="login-form">
                  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use href="vendor/identity-design-system/assets/img/sprite.svg#login"></use>
                  </svg>
                  Sign in
                </button>
              </form>

            <% end %>
          </div>
        </div>
      </section>
    </nav>
  </div>
</header>
<main id="main-content">
  <% if logout_msg || login_msg || errors %>
  <section class="grid-container usa-section" aria-label="Notifications">
    <% if logout_msg %>
    <% type = logout_msg == 'ok' ? 'usa-alert--info' : 'usa-alert--error' %>
    <div class="usa-alert <%= type %>">
      <div class="usa-alert__body">
        <h4 class="usa-alert__heading">Log Out</h4>
        <p class="usa-alert__text">
          <% if logout_msg == 'ok' %>
            You have been logged out.
          <% else %>
            Logout failed!
          <% end %>
        </p>
      </div>
    </div>
    <% end %>
    <% if login_msg %>
    <div class="usa-alert usa-alert--info">
      <div class="usa-alert__body">
        <h4 class="usa-alert__heading">Log In</h4>
        <p class="usa-alert__text">
          Login was a Success!
        </p>
      </div>
    </div>
    <% end %>

    <% if errors %>
    <div class="usa-alert usa-alert--error">
      <div class="usa-alert__body">
        <h4 class="usa-alert__heading"><%= error_type %></h4>
          <% errors.each do |err| %>
          <p class="usa-alert__text"><%= err %></p>
          <% end %>
      </div>
    </div>
    <% end %>


  </section>
  <% end %>
  <% unless session[:email] %>
    <section aria-label="Authentication Request Specifics">
      <form action="<%= login_path %>" method="GET" id="login-form">
        <div class="grid-container">
          <div class="grid-row">
            <div class="grid-col-8"></div>
            <div class="grid-col-4">
              <details class="details-popup" open>
                <summary> Options</summary>

                <label class="usa-label" for="aal">
                  Authentication Assurance Level (AAL)
                </label>
                <select name="aal" id="aal" class="usa-select">
                  <% [
                  ['sp', 'ServiceProvider configured'],
                  ['', 'Default'],
                  ['2', 'AAL2'],
                  ['2-phishing_resistant', 'Phishing-resistant AAL2'],
                  ['2-hspd12', 'HSPD12 required'],
                ].each do |value, label| %>
                    <option value="<%= value %>"
                          <%= 'selected="true"' if aal == value %>
                          >
                      <%= label %>
                    </option>
                  <% end %>
                </select>

                <label class="usa-label" for="ial">
                  Level of Service
                </label>
                <select name="ial" id="ial" class="usa-select">
                  <% ial_select_options.each do |value, label| %>
                    <option value="<%= value %>" <%= 'selected="true"' if ial == value %> >
                      <%= label %>
                    </option>
                  <% end %>
                </select>

                <label class="usa-label" for="skip_encryption">
                  Skip Encryption
                </label>
                <select name="skip_encryption" id="skip_encryption" class="usa-select">
                  <% [
                  [nil, 'With Encryption'],
                  ['true', 'Skip encryption'],
                ].each do |value, label| %>
                    <option value="<%= value %>"
                          <%= 'selected="true"' if skip_encryption == value %>
                          >
                      <%= label %>
                    </option>
                  <% end %>
                </select>

                <label class="usa-label" for="force_authn">
                  ForceAuthn
                </label>
                <select name="force_authn" id="force_authn" class="usa-select">
                  <% [
                  [nil, 'false'],
                  ['true', 'true']
                ].each do |value, label| %>
                    <option value="<%= value %>"
                          <%= 'selected="true"' if force_authn == value %>
                          >
                      <%= label %>
                    </option>
                  <% end %>
                </select>

                <label class="usa-label" for="login_method">
                  HTTP Method
                </label>
                <select name="login_method" id="login_method" class="usa-select">
                  <% [
                  ['get', 'GET'],
                  ['post', 'POST']
                ].each do |value, label| %>
                    <option value="<%= value %>"
                          <%= 'selected="true"' if method == value %>
                          >
                      <%= label %>
                    </option>
                  <% end %>
                </select>

                <div class="usa-checkbox">
                  <input class="usa-checkbox__input"
                      id="check-initiate_registration"
                      type="checkbox"
                      name="initiate_registration"
                      value="true"
                >
                  <label class="usa-checkbox__label" for="check-initiate_registration">
                    Initiate User Registration
                  </label>
                </div>

                <script type="application/json" id="default-scopes">
                  <%= default_requested_attributes_by_ial.to_json %>
                </script>
                <fieldset class="usa-fieldset margin-top-2">
                  <legend class="margin-bottom-1">
                    Requested Attributes
                  </legend>
                  <% requested_attributes_options.each do |scope| %>
                    <lg-scope scope="<%= scope %>" default-scopes-element="default-scopes" ial-element="ial" class="display-block">
                      <label>
                        <input type="checkbox" name="requested_attributes[]" value="<%= scope %>">
                        <%= scope %>
                      </label>
                    </lg-scope>
                  <% end %>
                </fieldset>
              </details>
            </div>
          </div>
        </div>
      </form>
    </section>
  <% end %>
  <section class="grid-container usa-section">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-4"></div>
    </div>
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-8">
        <% if session[:attributes] %>
          <% userinfo = JSON.parse(session[:attributes]) %>
          <div class="p2 clearfix bg-white fg-black">
            <span>Received user info:</span>
            <ul>
              <% userinfo.each_pair do |key, vals| %>
                <li><code><%= key.inspect %>:
                    <% vals.each do |val| %>
                      <% val = maybe_redact_ssn(val) if key.to_s == 'ssn' %>
                      <%= val.inspect %>
                    <% end %>
                  </code></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <section class="usa-graphic-list usa-section usa-section--dark">
    <div class="grid-container">
      <div class="usa-graphic-list__row grid-row grid-gap">
        <div class="usa-media-block tablet:grid-col">
          <div class="usa-media-block__body">
            <h3 class="usa-graphic-list__heading">Create a plan for success</h3>
            <p>We offer educational articles that outline key concepts and highlight services designed to fill the gaps in your planning.</p>
          </div>
        </div>
        <div class="usa-media-block tablet:grid-col">
          <div class="usa-media-block__body">
            <h3 class="usa-graphic-list__heading">Evaluate your current and future needs</h3>
            <p>On our website, you'll find valuable information for evaluating your current situation and progress toward your goals.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="usa-section">
    <div class="grid-container">
      <h2 class="font-heading-xl margin-y-0">Come back often</h2>
      <p class="usa-intro">We hope you take advantage of this resource and visit us often. Be sure to add our site to your list of "favorites" in your Internet browser. We frequently update our information, and we wouldn't want you to miss any developments.</p>
      <a class="usa-button usa-button--big" href="#">New developments</a>
    </div>
  </section>
</main>
<footer class="usa-footer" role="contentinfo">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__primary-section">
    <nav class="usa-footer__nav">
      <ul class="add-list-reset grid-row grid-gap">
        <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="javascript:void(0);">Our process</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="javascript:void(0);">Explore</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="javascript:void(0);">News</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="javascript:void(0);">Get help</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
          <div class="mobile-lg:grid-col-auto">
            <h3 class="usa-footer__logo-heading">SAML Sinatra Example</h3>
            <a class="usa-footer__primary-link" href="https://github.com/18F/identity-saml-sinatra">
              <div class="display-flex">
                <div><img src="/assets/img/GitHub-Mark-120px-plus.png" alt="GitHub Logo" title="GitHub Logo" width="60"></div>
                <div class="margin-left-1 flex-align-self-center">Get the Source Code</div>
              </div>
            </a>
          </div>
        </div>
        <div class="usa-footer__contact-links mobile-lg:grid-col-6">
          <div class="usa-footer__social-links grid-row grid-gap-1">
            <div class="grid-col-auto">
              <a class="usa-social-link usa-social-link--facebook" href="javascript:void(0);">
                <span>Facebook</span>
              </a>
            </div>
            <div class="grid-col-auto">
              <a class="usa-social-link usa-social-link--twitter" href="javascript:void(0);">
                <span>Twitter</span>
              </a>
            </div>
            <div class="grid-col-auto">
              <a class="usa-social-link usa-social-link--youtube" href="javascript:void(0);">
                <span>YouTube</span>
              </a>
            </div>
            <div class="grid-col-auto">
              <a class="usa-social-link usa-social-link--rss" href="javascript:void(0);">
                <span>RSS</span>
              </a>
            </div>
          </div>
          <h3 class="usa-footer__contact-heading">Agency Contact Center</h3>
          <address class="usa-footer__address">
            <div class="usa-footer__contact-info grid-row grid-gap">
              <div class="grid-col-auto">
                <a href="tel:1-800-555-5555">(800) CALL-GOVT</a>
              </div>
              <div class="grid-col-auto">
                <a href="mailto:info@agency.gov">info@agency.gov</a>
              </div>
            </div>
          </address>
        </div>
      </div>
    </div>
  </div>
</footer>
<script>
  document.getElementById("login_method").addEventListener("change", (e) => {
    const method = e.target.value;
    const login_form = document.getElementById("login-form");
    const current_action = login_form.getAttribute("action");

    if (method == "get") {
      new_action = current_action.replace("login_post", "login_get")
      login_form.setAttribute("action", new_action);
    } else if (method == "post") {
      new_action = current_action.replace("login_get", "login_post")
      login_form.setAttribute("action", new_action);
    }
  });
</script>
