<a class="usa-skipnav" href="#main-content">Skip to main content</a>
 <div class="padding-2 bg-accent-warm text-base-lightest font-mono-xs text-center">
  TEST Do not use real personal information (demo purposes only) TEST
</div>
<div class="padding-2 bg-primary-darker text-base-lightest font-mono-xs text-center">
  <img class="width-2" aria-hidden="true" src="vendor/identity-design-system/assets/img/us_flag_small.png" alt="U.S. flag">
  A DEMO website of the United States government
</div>
<div class="usa-overlay"></div>
<%= erb :header %>
<main id="main-content">
  <div class="grid-container">
    <div class="grid-row">
      <%= erb :notifications, locals: { logout_msg:, login_msg:, errors:, error_type: } %>
      <%= erb :auth_options, locals: { aal:, ial:, login_path:, force_authn:, method: } %>
    </div>
  </div>
  <section class="grid-container usa-section">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-4"></div>
    </div>
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-8">
        <% if session[:attributes] %>
          <% userinfo = JSON.parse(session[:attributes]) %>
          <div class="p2 clearfix bg-white fg-black">
            <div>Received user info:</div>
            <ul>
              <% userinfo.each_pair do |key, vals| %>
                <li><code><%= key.inspect %>:
                    <% vals.each do |val| %>
                      <% val = maybe_redact_ssn(val) if key.to_s == 'ssn' %>
                      <%= val.inspect %>
                    <% end %>
                  </code></li>
              <% end %>
            </ul>
          </div>
          <div><p>Time of authentication: <code><%= session[:authn_instant] %></code></p></div>
        <% end %>
      </div>
    </div>
  </section>
  <section class="usa-graphic-list usa-section usa-section--dark">
    <div class="grid-container">
      <div class="usa-graphic-list__row grid-row grid-gap">
        <div class="usa-media-block tablet:grid-col">
          <div class="usa-media-block__body">
            <h3 class="usa-graphic-list__heading">Create a plan for success</h3>
            <p>We offer educational articles that outline key concepts and highlight services designed to fill the gaps in your planning.</p>
          </div>
        </div>
        <div class="usa-media-block tablet:grid-col">
          <div class="usa-media-block__body">
            <h3 class="usa-graphic-list__heading">Evaluate your current and future needs</h3>
            <p>On our website, you'll find valuable information for evaluating your current situation and progress toward your goals.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="usa-section">
    <div class="grid-container">
      <h2 class="font-heading-xl margin-y-0">Come back often</h2>
      <p class="usa-intro">We hope you take advantage of this resource and visit us often. Be sure to add our site to your list of "favorites" in your Internet browser. We frequently update our information, and we wouldn't want you to miss any developments.</p>
      <a class="usa-button usa-button--big" href="#">New developments</a>
    </div>
  </section>
</main>
<footer class="usa-footer" role="contentinfo">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__primary-section">
    <nav class="usa-footer__nav">
      <ul class="add-list-reset grid-row grid-gap">
        <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="javascript:void(0);">Our process</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="javascript:void(0);">Explore</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="javascript:void(0);">News</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="javascript:void(0);">Get help</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
          <div class="mobile-lg:grid-col-auto">
            <h3 class="usa-footer__logo-heading">SAML Sinatra Example</h3>
            <a class="usa-footer__primary-link" href="https://github.com/18F/identity-saml-sinatra">
              <div class="display-flex">
                <div><img src="/assets/img/GitHub-Mark-120px-plus.png" alt="GitHub Logo" title="GitHub Logo" width="60"></div>
                <div class="margin-left-1 flex-align-self-center">Get the Source Code</div>
              </div>
            </a>
          </div>
        </div>
        <div class="usa-footer__contact-links mobile-lg:grid-col-6">
          <div class="usa-footer__social-links grid-row grid-gap-1">
            <div class="grid-col-auto">
              <a class="usa-social-link usa-social-link--facebook" href="javascript:void(0);">
                <span>Facebook</span>
              </a>
            </div>
            <div class="grid-col-auto">
              <a class="usa-social-link usa-social-link--twitter" href="javascript:void(0);">
                <span>Twitter</span>
              </a>
            </div>
            <div class="grid-col-auto">
              <a class="usa-social-link usa-social-link--youtube" href="javascript:void(0);">
                <span>YouTube</span>
              </a>
            </div>
            <div class="grid-col-auto">
              <a class="usa-social-link usa-social-link--rss" href="javascript:void(0);">
                <span>RSS</span>
              </a>
            </div>
          </div>
          <h3 class="usa-footer__contact-heading">Agency Contact Center</h3>
          <address class="usa-footer__address">
            <div class="usa-footer__contact-info grid-row grid-gap">
              <div class="grid-col-auto">
                <a href="tel:1-800-555-5555">(800) CALL-GOVT</a>
              </div>
              <div class="grid-col-auto">
                <a href="mailto:info@agency.gov">info@agency.gov</a>
              </div>
            </div>
          </address>
        </div>
      </div>
    </div>
  </div>
</footer>
<script>
  document.getElementById("login_method").addEventListener("change", (e) => {
    const method = e.target.value;
    const login_form = document.getElementById("login-form");
    const current_action = login_form.getAttribute("action");

    if (method == "get") {
      new_action = current_action.replace("login_post", "login_get")
      login_form.setAttribute("action", new_action);
    } else if (method == "post") {
      new_action = current_action.replace("login_get", "login_post")
      login_form.setAttribute("action", new_action);
    }
  });
</script>
